/* body-style */
body {
background-color: #FFFFFF;
font-family: 'Roboto', sans-serif,'Raleway';
letter-spacing: 0.03em;
}
.top line{
background-color: #FFFFFF; 
height: 80px;
width: 1600px;
left: 0px;
top: 0px;
border-radius: 0px;
}
.web{ color: #2196F3;
font-family: 'Raleway', normal;
font-size: 26px;
}
.studio {color: #000;
font-family: 'Raleway', normal;
font-size: 26px;
}

ul{
display: flex;
justify-content: left;
list-style: none;    
}
.contact-item{
height: 16px;
width: 317px;
left: 453px;
top: 32px;
border-radius: nullpx;
}
/* Site nav */
.site-nav .link {
color:  #2196F3;
}
.site-nav .link:hover, 
.site-nav .link:focus{
color: #212121;
}
.mail{
 justify-content: right;
}
.link{
margin-left: 15px;
margin-right: 15px;
}

.hover {
background-color: #2F303A;
height: 600px;
width: 1600px;
left: 0px;
top: 80px;
border-radius: 0px;
}
.hero-title{
font-family: 'Roboto', normal ;    
color:  #FFFFFF; 
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
height: 120px;
width: 696px;
left: 452px;
top: 280px;
border-radius: nullpx;
}
.btn{
background-color: #2196F3;
font-family: 'Roboto', normal ;
color: #FFFFFF;
height: 50px;
width: 200px;
left: 700px;
top: 430px;
border-radius: 4px;
}
.heading{ 
color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-transform: uppercase;
}
.text{
color: #757575;
font-family: Roboto;
font-weight: normal;
font-size: 14px;
}
.title{
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
}
.box{
height: 386px;
width: 1170px;
left: 215px;
top: 969px;
border-radius: 0px; 
}
.command{
background-color: #F5F4FA; 
height: 648px;
width: 1600px;
left: 0px;
top: 1449px;
border-radius: [object Object]px;
}
.card{
height: 368px;
width: 1170px;
left: 215px;
top: 1635px;
border-radius: [object Object]px;  
}
h3{
font-family: Roboto;
color: #212121;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
}
p{
color:#757575;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
}
.footer{
background-color: #2F303A;
height: 252px;
width: 1600px;
left: 0px;
top: 2097px;
border-radius: 0px;   
}
.adress{
color: #FFFFFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
}



