/* body-style */
body {
background-color: #FFFFFF;
font-family: 'Roboto', sans-serif,'Raleway';
letter-spacing: 0.03em;
}
.top line{
background-color: #FFFFFF; 
border-radius: 0px;
}
.logo {
text-decoration: none;
}
.web{ color: #2196F3;
font-family: 'Raleway', normal;
font-size: 26px;
}
.studio {color: #000;
font-family: 'Raleway', normal;
font-size: 26px;
}

ul{
display: flex;
justify-content: left;
list-style: none;    
}
.contact-item{
border-radius: nullpx;
}
/* Site nav */
.site-nav .link {
color:  #2196F3;
text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus{
color: #212121;
}
.mail{
 justify-content: right;
}
.link{
margin-left: 15px;
margin-right: 15px;
}

.filters-btn:hover,
.filters-btn:focus{
    color:  #F5F4FA;
    background-color: #2196F3;
}

.hover {
background-color: #2F303A;
border-radius: 0px;
}
.hero-title{
font-family: 'Roboto', normal ;    
color:  #FFFFFF; 
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
border-radius: nullpx;
}
.btn{
background-color: #2196F3;
font-family: 'Roboto', normal ;
color: #FFFFFF;
border-radius: 4px;
}

.heading{ 
color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-transform: uppercase;
}
.text{
color: #757575;
font-family: Roboto;
font-weight: normal;
font-size: 14px;
}
.title{
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.03em;
text-align: center;
}
.box{
border-radius: 0px; 
}
.command{
background-color: #F5F4FA; 
border-radius: [object Object]px;
}
.card{
border-radius: [object Object]px;  
}
h3{
font-family: Roboto;
color: #212121;
font-size: 16px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.03em;
text-align: center;
}
p{
color:#757575;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.03em;
text-align: center;
}
.footer{
background-color: #2F303A;
border-radius: 0px;   
}
.adress{
color: #FFFFFF;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
}



